<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cookies</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <p>Lorsque vous utilisez l'Application KIRA, nous et nos<br>
  partenaires pouvons stocker et/ou accéder à des informations sur votre appareil via des cookies ou des technologies<br>
similaires pour traiter des données à caractère personnle.<br>
La présente Politique relative aux cookies vise à expliquer ce que sont les cookies, comment ils sont utilisés sur notre<br>
Plateforme et comment vous pouvez les gérer.<br>

Pour des informations générales sur les pratiques de Kira en matière de données,<br>
veuillez consulter notre Politique de confidentialité. Les termes en majuscules utilisés dans la présente Politique relative<br>
aux cookies ont la même signification que dans la Politique de confidentialité.</p>

<ol>
  <li>Que sont les cookies?</li>
  <li>Pourquoi utilisons-nous les cookies?</li>
  <li>Comment gérer les cookies?</li>
  <li>Quels cookies utilisez-vous?</li>
</ol>

<h2>Que sont les cookies?</h2>
<p>
  Les cookies sont de petits fihciers texte enregostrés par votre navigateur sur votre appareil<br>
  lorsque vous visitez certaines sites web.<br>
  D'autres technologies y compris tout moyen de stocker des données sur votre navigateur web ou sur votre appareil,<br>
  des identifiants associés à votre appareil et d'autres logiciels, sont utilisées à des fins similaires.<br>
  Celles-ci sont largement utilisées pour faire fonctionner les sites web ou pour en améliorer les fonctionnalités.
</p>
<h2>Pourquoi utilisons-nous les cookies?</h2>
<p>Nous utilisons des cookies pour:<br>
1. faire fonctionner notre plateforme conformément à vos attentes,<br>
2. améliorer la vitesse et la sécurité de notre plateforme,<br>
3. vous reconnaître lorsque vous visitez de nouveau notre plateforme.<br>
Cela nous permet de personnaliser notre contenu, de vous saluer par votre nom et de mémoriser vos préférences.<br>
4. évaluer le nombre de visiteurs de notre plateforme et leurs habitudes de navigation sur l'Application<br>
Cela nous permet d'améliorer les fonctionnalités de notre plateforme, ex:<br>
en nous assurant que les utilisateurs peuvent trouver ce qu'ils cherchent.
</p>
<h2>Comment gérer les cookies?</h2>
<p>
  Lorsque vous consultez la Plateforme pour la première fois ou que vous la consultez après une période prolongée,<br>
  ou que vous naviguez sur notre site Web en mode privé (incognito),<br>
  vous verrez un avis relarif aux cookies en bas de la fenêtre, et vous pourrez soit accepter tous les cookies, <br>
  soit définir des préférences en matière de cookies, en choisissant les types de cookies que vous souhaitez voir placés sur votre appareil.
</p>
<h2>Quels cookies utilisez-vous?</h2>
<p>
  Ces cookies sont nécessaires au fonctionnement de l'application et ne peuvent pas être désactivés dans nos systèmes.<br>
  Ils sont généralement établis en tant que réponse à des actions que vous avez effectuées et qui constituent<br>
  une demande de services, telles que la définition de vos préférences en matière de confidentialité,<br>
  la connexion ou le remplissage de formulaires.
</p>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="categories">
      <ion-icon class="icon-footer" name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button href="cherche">
      <ion-icon class="icon-footer" name="search-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button href="ajout">
      <ion-icon id="plus" class="icon-footer" name="add-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button href="compte">
      <ion-icon class="icon-footer" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
</ion-footer>
