<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-button class="blackbtn" href="home">
      <ion-icon color="dark" name="arrow-back-outline"></ion-icon>
     </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
<img src="../../assets/kira.png" alt="logo" class="logo">

<ion-card>
<ion-card-content>
<ion-card-subtitle>
<ion-text>E</ion-text><ion-text class="reste">ntrez votre e-mail pour changez de mot de passe</ion-text>
</ion-card-subtitle>
<div>
<ion-item>
<ion-input id="email" placeholder="email" expand="block"></ion-input>
<ion-icon slot="start" name="at-circle-outline"></ion-icon>
</ion-item>
<ion-button expand="block" (click)="reset()">Cliquez-ici</ion-button>
</div>
</ion-card-content>
</ion-card>
</ion-content>

