.compte{
  font-size: 22px;
  font-weight: bold;
  margin-left:15px;
  margin-top:30px;
}
.icon-compte{
  color: black;
  margin-right: 20px;
  width: 32px;
  height: 32px;

}

#compte{
  color: #80a1c1;
}
ion-item{
  --padding-bottom:9px;
  --padding-top:9px;
  --background:#f0f0f0;
}
ion-content{
  --background:#f0f0f0;
}
ion-tab-bar{
  --background:#f0f0f0;
}
