
.avatar{
  border-radius: 7px;
}
.information{
  position: relative;
  left: 80px;
  bottom:115px;
  margin-bottom: -120px;
  font-weight: bold;
  font-size: 14px;
}
.description{
  padding-left: 10px;
  font-size: 14px;

}
.btn-modifier{
  border-radius: 7px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.icon-ville{
  width: 16px;
  font-weight: bold;
}
.ville{
  font-weight: bold;
  font-size: 12px;
}
