<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>paiement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-title>
      Hello,
    </ion-card-title>
    <ion-card-subtitle>
      Merci de faire <br>
      confiance à Kira.
  </ion-card-subtitle>
  </ion-card-header>
    <ion-card-content>
      <ion-icon name="card-outline"></ion-icon>
      <p>
        Ci-dessous vous avez les informations de paiment.<br>
        Dès que nous aurons reçu la confirmation du paiement<br>
        nous ouvrirons le chat et vous pourrez communiquer <br>
        avec ...<br>
      </p>
      <ion-item>
        <ion-row color="warning" class="carte">Kira SA _ IBAN</ion-row>
        <ion-icon name="card-outline"></ion-icon>
      </ion-item>
        <p>
          Vous pouvez verser la somme de <script>
          </script> sur le compte ci-dessous.
        </p>
        <p >
          BE5295852168164652<br>
          AXA BANK EUROPE, N.V.<br>
          +++456/8990/97539+++<br>
          Kira, S.A<br>
          Populierenstraat 435, 2040 Anvers<br>
          BELGIQUE<br>
          </p>
    </ion-card-content>
  </ion-card>
</ion-content>
