<header>

</header>

<ion-content>

 <!-- <div class="langue">
  <div class="icon-terre"><ion-icon name="globe-outline"></ion-icon></div>
  <div class="select">
    <select name="format" id="format">
      <option value="fr">Français</option>
      <option value="nl">Néerlandais</option>
    </select>
  </div>

  </div>
-->
  <div class="contenu-central">
    <div class="bienvenue"><p>Bienvenue</p></div>
    <div class="logo"><img class="imglogo" src="../../assets/LogoKIA-1.png" alt="Logo Kira"/></div>
    <div class="presentation"><p>Du matériel spécialisé disponible rapidement et près de chez vous. </p></div>
    <div class="btn">
      <div class="btn1"><ion-button href="la-connexion">Connectez-vous</ion-button></div>
      <div class="btn2"><ion-button href="inscription" >Créez un compte</ion-button></div>
    </div>
  </div>







</ion-content>
